<p style="color: green">
  <%= notice %>
</p>
<div class="container-fluid">
  <h1>Agenda de Tratamientos</h1>
  <div id="treatments">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Date</th>
          <th scope="col">Paciente</th>
          <th scope="col">Edad</th>
          <th scope="col" colspan="2"></th>
        </tr>
      </thead>

      <% @treatments.each do |treatment| %>
          <tbody>

            <%= render treatment %>
              
          </tbody>
        <% end %>
    </table>
  </div>
  <div class="text-center">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>


  <%= link_to new_treatment_path do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler
icon-tabler-circle-plus" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none"
      stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <circle cx="12" cy="12" r="9" />
      <line x1="9" y1="12" x2="15" y2="12" />
      <line x1="12" y1="9" x2="12" y2="15" />
    </svg>
    <% end %>
</div>